/* line 4, ../sass/base.scss */
body {
  margin: 0;
  font-family: sans-serif;
}

/* line 9, ../sass/base.scss */
#project-title {
  display: block;
  text-align: center;
  margin: 0.5em 1em 0;
  line-height: 1em;
}

/* line 16, ../sass/base.scss */
#project-description {
  display: block;
  text-align: center;
  font-size: 2em;
  margin: 0.25em 1em;
}

/* line 23, ../sass/base.scss */
section {
  margin: 0 10%;
  max-width: 1100px;
}
@media screen and (max-width: 400px) {
  /* line 23, ../sass/base.scss */
  section {
    margin: 0 5%;
  }
}
/* line 31, ../sass/base.scss */
section#timescale {
  width: 100%;
  max-width: 100%;
  margin: 0 !important;
}
/* line 36, ../sass/base.scss */
section#timescale h1 {
  margin: 1em 10% 0;
}
/* line 40, ../sass/base.scss */
section#timescale .storyjs-embed.sized-embed {
  border: 0 !important;
}
/* line 45, ../sass/base.scss */
section h1 {
  font-size: 3em;
  border-bottom: 1px solid;
}
/* line 50, ../sass/base.scss */
section h2 {
  font-size: 2em;
}

/* line 55, ../sass/base.scss */
p {
  font-size: 1.25em;
}

/* line 59, ../sass/base.scss */
.budget {
  margin: 0 auto;
  border: 1px solid;
  border-spacing: 0;
}
/* line 64, ../sass/base.scss */
.budget th {
  padding: 0.9em 1em;
  border-bottom: 1px dashed;
}
/* line 70, ../sass/base.scss */
.budget tr.budget-summary {
  font-weight: bold;
}
/* line 73, ../sass/base.scss */
.budget tr.budget-summary .title {
  text-align: right;
  text-transform: uppercase;
}
/* line 80, ../sass/base.scss */
.budget td {
  padding: 0.9em 1em;
}
/* line 83, ../sass/base.scss */
.budget td.money {
  text-align: right;
}
/* line 86, ../sass/base.scss */
.budget td.money:before {
  content: '$';
  display: inline;
  font-size: 0.7em;
  padding-right: 5px;
  vertical-align: middle;
}
/* line 95, ../sass/base.scss */
.budget td.time {
  text-align: center;
}

/* line 102, ../sass/base.scss */
.enhanced th,
.enhanced td {
  display: none;
}
@media screen and (min-width: 400px) {
  /* line 102, ../sass/base.scss */
  .enhanced th,
  .enhanced td {
    display: table-cell;
  }
}

/* line 111, ../sass/base.scss */
.enhanced th.essential,
.enhanced td.essential {
  display: table-cell;
}

/* line 115, ../sass/base.scss */
.table-menu-wrapper {
  position: absolute;
  top: -3em;
  right: 0;
}

/* line 121, ../sass/base.scss */
.table-menu-btn {
  text-decoration: none;
  font-size: 1.2em;
  background: url(timeline.png) no-repeat -327px 10px;
  padding: 0.3em 10px 0.3em 22px;
  border: 1px solid #cccccc;
}

/* line 129, ../sass/base.scss */
.table-menu {
  position: absolute;
  right: 0;
  left: auto;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 1.2em;
  width: 12em;
}
/* line 139, ../sass/base.scss */
.table-menu ul {
  list-style: none;
}

/* line 144, ../sass/base.scss */
.table-menu-hidden {
  left: -999em;
  right: auto;
}

/* line 149, ../sass/base.scss */
.table-wrapper {
  position: relative;
  margin: 5em 5%;
}

/* line 154, ../sass/base.scss */
footer {
  margin: 50px 10%;
  padding: 30px 0;
  max-width: 1100px;
  border-top: 1px solid;
}
