body {
  margin: 0;
  font-family: sans-serif; }

#project-title {
  display: block;
  text-align: center;
  margin: 0.5em 1em 0;
  line-height: 1em; }

#project-description {
  display: block;
  text-align: center;
  font-size: 2em;
  margin: 0.25em 1em; }

section {
  margin: 0 auto;
  max-width: 1100px; }
  @media screen and (max-width: 1650px) {
    section {
      margin: 0 10%; } }
  @media screen and (max-width: 400px) {
    section {
      margin: 0 5%; } }
  section#timescale {
    width: 100%;
    max-width: 100%;
    margin: 0 !important; }
    section#timescale h1 {
      margin: 1em 10% 0; }
    section#timescale .storyjs-embed.sized-embed {
      border: 0 !important; }
  section h1 {
    font-size: 3em;
    border-bottom: 1px solid; }
  section h2 {
    font-size: 2em; }
  section li {
    margin: 15px 0; }

ul {
  list-style: none; }

li:before {
  content: '\25A0';
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -20px;
  top: -0px;
  font-size: 20px; }

ul > ul li:before {
  font-size: 20px;
  content: '\2022'; }

li, p {
  font-size: 1.25em; }

a {
  text-decoration: none; }

.budget {
  margin: 0 auto;
  border: 1px solid;
  border-spacing: 0; }
  .budget th {
    padding: 0.9em 1em;
    border-bottom: 1px dashed; }
  .budget tr.budget-summary {
    font-weight: bold; }
    .budget tr.budget-summary .title {
      text-align: right;
      text-transform: uppercase; }
  .budget td {
    padding: 0.9em 1em; }
    .budget td.money {
      text-align: right; }
      .budget td.money:before {
        content: '$';
        display: inline;
        font-size: 0.7em;
        padding-right: 5px;
        vertical-align: middle; }
    .budget td.time {
      text-align: center; }

.enhanced th, .enhanced td {
  display: none; }
  @media screen and (min-width: 400px) {
    .enhanced th, .enhanced td {
      display: table-cell; } }

.enhanced th.essential, .enhanced td.essential {
  display: table-cell; }

.table-menu-wrapper {
  position: absolute;
  top: -3em;
  right: 0; }

.table-menu-btn {
  text-decoration: none;
  font-size: 1.2em;
  background: url(timeline.png) no-repeat -327px 10px;
  padding: 0.3em 10px 0.3em 22px;
  border: 1px solid #ccc; }

.table-menu {
  position: absolute;
  right: 0;
  left: auto;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1.2em;
  width: 12em; }
  .table-menu ul {
    list-style: none; }

.table-menu-hidden {
  left: -999em;
  right: auto; }

.table-wrapper {
  position: relative;
  margin: 5em 5%; }

footer {
  margin: 50px 10%;
  padding: 30px 0;
  max-width: 1100px;
  border-top: 1px solid; }

.print {
  float: right; }

#logo {
  margin: 0;
  padding: 5px 20px 3px 50px;
  background: #E40101;
  position: fixed;
  box-shadow: 1px 4px 5px #999; }

#project-title {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #E40101; }

#project-description {
  font-family: 'PT Sans Narrow', sans-serif; }

section h1, section h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #E40101; }

em {
  color: #E40101;
  font-style: normal;
  font-weight: bold; }

a:hover {
  color: #7e0101; }

li:before {
  color: #E40101; }

.budget {
  border-color: #E40101; }
  .budget th {
    border-color: #E40101;
    color: #E40101; }
  .budget td {
    border-color: 1px solid transparent; }
  .budget tr:nth-child(even) {
    background: #ffefef; }
  .budget tr:hover {
    background: #ffcccc; }
  .budget tr.budget-summary {
    color: #E40101;
    background: #ffe5e5; }
  .budget .money:before {
    color: #E40101; }

.table-menu-btn {
  color: #E40101; }

footer {
  border-color: #E40101; }
  footer a {
    color: #E40101; }
