/**
 * 
 */
/**
 * 
 */
/**
 * [triangle description]
 * @param  {[type]} $color [description]
 * @return {[type]}        [description]
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro"; }

h2, h4, h5 {
  color: #2b9291; }

h1 {
  bottom: 35%;
  color: #50423a;
  font-size: 1.9rem;
  font-weight: 700;
  margin: 1rem auto;
  max-width: 40%;
  text-transform: uppercase; }
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 1.563rem; } }

h2 {
  bottom: 19%;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
  max-width: 25%; }
  @media screen and (max-width: 400px) {
    h2 {
      font-size: 1.161rem; } }

h3 {
  color: #99be33;
  font-size: 2.813rem;
  font-weight: 600;
  margin: 1rem auto 7rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  max-width: 25rem;
  z-index: 1; }
  @media screen and (max-width: 400px) {
    h3 {
      font-size: 1.562rem; } }

h4 {
  font-size: 2.813rem;
  font-weight: 700;
  margin: 0 auto 3rem;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 400px) {
    h4 {
      font-size: 1.563rem; } }

h5 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0; }
  @media screen and (max-width: 400px) {
    h5 {
      font-size: 1.25rem; } }

body {
  margin: 0; }

a, p, label, li, figcaption, table {
  font-family: "Source Sans Pro"; }

p, li {
  color: #50423a;
  font-size: 1.5rem;
  font-weight: 400; }
  @media screen and (max-width: 400px) {
    p, li {
      font-size: 1.25rem; } }

p {
  margin: 0.5rem 0 3rem; }

strong {
  font-style: italic; }

figure {
  display: block;
  margin: 1rem 0 3rem; }
  figure figcaption {
    color: #979795;
    font-size: 1.3rem; }
    @media screen and (max-width: 400px) {
      figure figcaption {
        font-size: 1rem; } }
  figure img {
    width: 100%; }

.gallery {
  margin: 1rem 0 4rem; }
  .gallery::after {
    clear: both;
    content: "";
    display: table; }
  .gallery figure {
    float: left;
    margin: 0 1%;
    width: 31.333%; }
    @media screen and (max-width: 400px) {
      .gallery figure {
        float: none;
        margin: 1rem auto;
        width: 90%; } }
    .gallery figure img {
      width: 100%; }

ul {
  list-style-image: url("../img/blue-bullet.png");
  margin: 1rem 0 2rem;
  padding: 0 6rem; }
  @media screen and (max-width: 400px) {
    ul {
      padding: 0;
      padding-left: 40px; } }
  ul li {
    margin: 1rem 0; }
    ul li ul {
      list-style-image: url("../img/green-bullet.png");
      padding: 0 1rem; }
      ul li ul li {
        font-size: 1.3rem; }

.content {
  margin: 0 auto;
  overflow: hidden;
  max-width: 58rem; }
  @media screen and (max-width: 400px) {
    .content {
      margin: 0 1rem; } }
  .content table, .content th, .content td {
    border-color: #2b9291;
    border-style: solid;
    border-width: 1px; }
  .content table {
    border-collapse: collapse;
    margin: 3rem auto; }
    .content table th, .content table td {
      padding: 0.5rem; }
    .content table thead, .content table tfoot {
      color: #2b9291; }
      .content table thead tr th, .content table thead tr td, .content table tfoot tr th, .content table tfoot tr td {
        font-weight: 600;
        text-align: left; }
    .content table tbody {
      color: #50423a; }
      .content table tbody td {
        font-size: 1.374rem; }
    .content table tfoot {
      background-color: white; }
    .content table .money {
      font-style: italic;
      font-weight: 600; }
      .content table .money:after {
        content: 'COP'; }

.hidden {
  display: none; }

header {
  height: 64px;
  position: relative; }
  header:after {
    content: url("../img/menu-border.png");
    height: 5px;
    overflow: hidden;
    position: absolute;
    top: 63px;
    width: 100%; }
  header .menu {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    margin: 0 1.5rem; }
    header .menu a {
      text-decoration: none; }
    header .menu label {
      bottom: 7px;
      color: #50423a;
      font-weight: 600;
      margin: 0 0.3rem;
      position: relative;
      text-transform: uppercase; }
  header nav {
    background-color: white;
    position: absolute;
    top: 68px;
    width: 25rem;
    z-index: 1; }
    header nav .sections a {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      color: #50423a;
      display: block;
      font-size: 1.248rem;
      font-weight: 700;
      height: 55px;
      line-height: 2.7;
      padding: 0 1rem;
      text-decoration: none;
      text-transform: uppercase; }
      header nav .sections a:hover {
        color: white;
        background-color: #50423a; }
    header nav .social {
      margin: 2rem 1rem;
      width: 20rem; }
      header nav .social a {
        display: inline-block;
        margin: 0 0.5rem; }
        header nav .social a .icon {
          border-radius: 50%;
          color: white;
          fill: currentColor;
          height: 1.4rem;
          padding: 0.7rem;
          width: 1.4rem; }
        header nav .social a .icon-facebook {
          background-color: #355e9a; }
        header nav .social a .icon-twitter {
          background-color: #5babdb; }
        header nav .social a .icon-linkedin2 {
          background-color: #006896; }
        header nav .social a .icon-google-plus {
          background-color: #d65c43; }
        header nav .social a .icon-youtube {
          background-color: #de3834; }

#first {
  background: url("../img/title-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100vh - 64px);
  overflow: hidden; }
  @media screen and (max-width: 400px) {
    #first {
      background: none; } }
  #first:before {
    background: url("../img/monkey-hand.png");
    background-position-y: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 100vh;
    position: absolute;
    width: 23%; }
  #first .triangle {
    height: 56%;
    overflow: hidden;
    position: relative;
    text-align: center; }
    #first .triangle h1, #first .triangle h2, #first .triangle img {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      position: absolute; }
    #first .triangle img {
      margin: 0;
      left: 50%;
      bottom: 65%; }
  #first p {
    margin: 0 auto;
    margin-top: 2%;
    max-width: 60%;
    text-align: center; }

#we-are {
  background-color: #f5f4f3;
  position: relative; }
  #we-are:after {
    background-image: url("../img/screw.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 1%;
    content: '';
    height: 18%;
    position: absolute;
    right: 0;
    width: 16%; }
  #we-are .simian-logo {
    display: block;
    height: 137px;
    margin: 1rem auto 2rem;
    width: 334px; }
  #we-are .video h5 {
    text-align: center; }
  #we-are .video iframe {
    height: 522px;
    margin: 1rem 0 3rem;
    width: 100%; }

#project:before {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  border-color: #f5f4f3 transparent transparent transparent;
  border-style: solid;
  border-width: 155px 260px 0 260px;
  content: "";
  height: 0;
  z-index: 0;
  width: 0; }

#budget {
  background-color: #f5f4f3; }
  #budget:before {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 155px 260px 0 260px;
    content: "";
    height: 0;
    z-index: 0;
    width: 0; }
  #budget .time:after, #budget .payment:after {
    left: 10px;
    position: relative;
    top: 5px; }
  #budget .payment:after {
    content: url("../img/money.png"); }
  #budget .time:after {
    content: url("../img/clock.png"); }

#contact:before {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  border-color: #f5f4f3 transparent transparent transparent;
  border-style: solid;
  border-width: 155px 260px 0 260px;
  content: "";
  height: 0;
  z-index: 0;
  width: 0; }

#contact p {
  color: #4f423a;
  font-size: 1.654rem;
  font-weight: 700; }
  @media screen and (max-width: 400px) {
    #contact p {
      font-size: 1.249rem; } }

#contact .signature {
  margin: 0 auto;
  width: 30rem; }
  #contact .signature::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 400px) {
    #contact .signature {
      width: 100%; } }
  #contact .signature img, #contact .signature .info {
    float: left; }
  #contact .signature img {
    width: 10rem; }
  #contact .signature .info {
    color: #82665d;
    font-family: "HelveticaLTStd";
    font-weight: 100;
    padding: 0 1rem;
    width: 18rem; }
    #contact .signature .info a, #contact .signature .info h1, #contact .signature .info label {
      font-family: "HelveticaLTStd"; }
    #contact .signature .info h1 {
      color: #4f423a;
      display: inline;
      font-size: 1.854rem;
      font-weight: 700;
      margin-bottom: 0;
      text-transform: capitalize; }
    #contact .signature .info label {
      display: block;
      font-size: 1.232rem; }
    #contact .signature .info a {
      color: #82665d;
      font-size: 1.03rem;
      text-decoration: none; }
    #contact .signature .info .site {
      color: #2b9291; }

footer {
  background: url("../img/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  position: relative;
  width: 100%; }
  footer p {
    bottom: 0;
    color: white;
    font-size: 0.9rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
    position: absolute;
    text-align: center;
    width: 100%; }
    footer p strong {
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase; }
