#budget {
	@include triangle(white, $triangle-desktop-height, $triangle-desktop-width);
	background-color: $grey;

	@media screen and (max-width: $smartphone-width) {
        @include triangle(white, $triangle-mobile-height, $triangle-mobile-width);
    }

	.time, .payment {
		&:after {
			left: 10px;
			position: relative;
    		top: 5px;
		}
	}

	.payment {
		&:after {
			content: url('../img/money.png');
		}
	}

	.time {
		&:after {
			content: url('../img/clock.png');
		}
	}
}