#first {
	background: url('../img/title-bg.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: calc(100vh - 64px);
	overflow: hidden;

	@media screen and (max-width: $smartphone-width) {
    	background: none;
	    height: initial;
    }

	&:before {
		background: url("../img/monkey-hand.png");
		background-position-y: 2rem;
		background-repeat: no-repeat;
	    background-size: contain;
	    content: '';
	    height: 100vh;
	    position: absolute;
	    width: 23%;

	    @media screen and (max-width: $smartphone-width) {
			background: none;
		}
	}

	.triangle {
		height: 56%;
		overflow: hidden;
		position: relative;
		text-align: center;

		img {
    		margin: 0;
    		left: 50%;
    		bottom: 65%;

    		@media screen and (max-width: $smartphone-width) {
    			margin: 1rem;
    		}
		}

		h1, h2, img {
			@include vertical-center-absolute;

			@media screen and (max-width: $smartphone-width) {
				bottom: 0;
				left: 0;
				position: relative;
				transform: none;
			}
		}
	}

	.monkey-hand, .screw {
		@include full-width-mobile-images;
	}

	p {
		margin: 0 auto;
		margin-top: 2%;
		max-width: 60%;
		text-align: center;

		@media screen and (max-width: $smartphone-width) {
			max-width: 100%;
			margin: 0 2rem;
		}
	}
}