#first {
	background: url('../img/title-bg.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: calc(100vh - 64px);
	overflow: hidden;

	&:before {
		background: url("../img/monkey-hand.png");
		background-position-y: 2rem;
		background-repeat: no-repeat;
	    background-size: contain;
	    content: '';
	    height: 100vh;
	    position: absolute;
	    width: 23%;
	}

	.triangle {
		height: 56%;
		overflow: hidden;
		position: relative;
		text-align: center;

		h1, h2, img {
			@include vertical-center-absolute;
		}

		img {
    		margin: 0;
    		left: 50%;
    		bottom: 65%;
		}
	}

	p {
		margin: 0 auto;
		margin-top: 2%;
		max-width: 60%;
		text-align: center;
	}
}