/**
 * 
 */
@mixin horizontal-center-absolute {
	@include transform(translateY(-50%));
	position: absolute;
	top: 50%;
}
/**
 * 
 */
@mixin vertical-center-absolute {
	@include transform(translateX(-50%));
	left: 50%;
	position: absolute;
}

/**
 * [triangle description]
 * @param  {[type]} $color [description]
 * @return {[type]}        [description]
 */
@mixin triangle ($color){
	&:before {
		@include vertical-center-absolute;
		border-color: $color transparent transparent transparent;
		border-style: solid;
		border-width: 155px 260px 0 260px;
		content: "";
		height: 0;
		z-index: 0;
		width: 0;
	}
}