// Colors
$blue: #2b9291;
$brown: #50423a;
$green: #99be33;
$grey: #f5f4f3;
$grey-light: #979795;

// Fonts
$main-font: 'Source Sans Pro';
$secondary-font: 'HelveticaLTStd';

//Breakpoint
$smartphone-width: 400px;

// Triangle
$triangle-desktop-height: 155px;
$triangle-desktop-width: 520px;
$triangle-mobile-height: 100px;
$triangle-mobile-width: 300px;