#we-are {
	background-color: $grey;
    padding-top: 2rem;
	position: relative;

	@media screen and (max-width: $smartphone-width) {
		@include triangle(white, $triangle-mobile-height, $triangle-mobile-width);
	}

	&:after {
		background-image: url("../img/screw.png");
		background-repeat: no-repeat;
		background-size: contain;
		bottom: 1%;
    	content: '';
    	height: 18%;
    	position: absolute;
    	right: 0;
    	width: 16%;

    	@media screen and (max-width: $smartphone-width) {
    		background: none;
    	}
	}

	h3 {
		@media screen and (max-width: $smartphone-width) {
		    margin: 0 auto 5rem;
		}
	}

	.simian-logo {
		display: block;
		height: 137px;
	    margin: 1rem auto 2rem;
		width: 334px;

		@media screen and (max-width: $smartphone-width) {
			height: 91px;
			width: 221px;
		}
	}

	.video {

		h5 {
		    text-align: center;
		}

		iframe {
			height: 522px;
			margin: 1rem 0 3rem;
			width: 100%;

			@media screen and (max-width: 600px) {
				height: 300px;
			}

			@media screen and (max-width: $smartphone-width) {
			    margin: 1rem 0;
			}
		}
	}
}