#we-are {
	background-color: $grey;
	position: relative;

	&:after {
		background-image: url("../img/screw.png");
		background-repeat: no-repeat;
		background-size: contain;
		bottom: 1%;
    	content: '';
    	height: 18%;
    	position: absolute;
    	right: 0;
    	width: 16%;
	}

	h2 {
		color: $blue;
		font-size: 1.1rem;
		font-weight: 600;
		padding-left: 4rem;
	}

	p {
		padding: 0 4rem;
	}

	.simian-logo {
		display: block;
		height: 137px;
    	margin: 1rem auto;
		width: 334px;
	}

	.video {

		h2 {
			padding: 0;
    		text-align: center;
		}

		iframe {
			display: block;
			height: 522px;
			margin: 0 auto;
			width: 923px;
		}
	}
}