@import 'bourbon/bourbon';
@import 'variables';
@import 'fonts';
@import 'menu';
@import 'budget';
@import 'footer';

body {
  margin: 4em 0 0;
  font-family: sans-serif;
}

#project-title {
  display: block;
  text-align: center;
  margin: 0.5em 1em 0;
  line-height: 1em;
}

#project-description {
  display: block;
  text-align: center;
  font-size: 2em;
  margin: 0.25em 1em;
}

section {
  margin: 0 auto;
  max-width: $width-limit;

  @media screen and (max-width: $width-limit*1.5) {
    margin: 0 10%;
  }

  @media screen and (max-width: $breakpoint) {
    margin: 0 5%;
  }

  h1 {
    font-size: 3em;
    border-bottom: 1px solid;

    &:before {
      font-size: 0.75em;
      margin: 0 0.5em 0 0;
    }
  }

  h2 {
    font-size: 2em;
  }

  li {
    margin: 15px 0;
  }

  img {
    width: 100%;
  }

  figure {
    &.medium {
      max-width: 60%;
      margin: 0 auto;

      @media screen and (max-width: $breakpoint) {
        max-width: 100%;
      }
    }

    &.small {
      max-width: 40%;
      margin: 0 auto;

      @media screen and (max-width: $breakpoint) {
        max-width: 60%;
      }
    }

    &.left,
    &.right {
      width: auto;
      max-width: 100%;
      margin: 1em;
    }

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }

    figcaption {
      display: block;
      width: 100%;
      text-align: center;
      border-top: 1px dashed;
      padding: 10px 0;

      &:before {
        content: '\00bb';
        padding: 0 5px;
      }
    }
  }

  blockquote {
    position: relative;
    padding: 0 0 0 4em;
    font-size: 2em;

    &:before {
      content: '\201D';
      font-size: 15em;
      font-family: Georgia;
      height: 0.5em;
      display: block;
      position: absolute;
      top: -3rem;
      left: -0.15em;
      vertical-align: super;
      z-index: -1;
      opacity: 0.35;
    }
  }

  &#summary {
    h1 {
      @extend .icon-quill;

      &:before {
        @extend .icon;
      }
    }
  }

  &#scope {
    h1 {
      @extend .icon-books;

      &:before {
        @extend .icon;
      }
    }
  }

  &#budget {
    h1 {
      @extend .icon-coin;

      &:before {
        @extend .icon;
      }
    }
  }

  &#timescale {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;

    .storyjs-embed.sized-embed {
      border: 0 !important;
    }
    h1 {
      margin: 1em 10% 0;
      @extend .icon-clock;

      &:before {
        @extend .icon;
      }
    }
  }
}

ul {
  list-style: none;
}

li {
  &:before {
    content:'\25A0';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -20px;
    top: -0px;
    font-size: 20px;
  }
}

ul > ul {
  li {
    &:before {
      font-size: 20px;
      content:'\2022';
    }
  }
}

li,
p {
  font-size: 1.25em;
}

a {
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}

.print {
  float: right;
}
