$mainColor: #E40101;
$mainFont: 'PT Sans Narrow', sans-serif;

.menu-toggle {
	color: $mainColor;
}

#menu {
	background: transparentize($mainColor, 0.5);

	a {
		color: #FFF;
	}
}

#project-title {
	font-family: $mainFont;
	color: $mainColor;
}

#project-description {
	font-family: $mainFont;
}

section {
	h1,
	h2 {
		font-family: $mainFont;
		color: $mainColor;
	}
}

em {
	color: $mainColor;
	font-style: normal;
	font-weight: bold;
}

blockquote {
	font-family: $mainFont;

	&:before {
		color: $mainColor;
	}
}

a:hover {
	color: darken($mainColor, 20%);
}

li:before {
	color: $mainColor;
}

.budget {
	border-color: $mainColor;

	th {
		border-color: $mainColor;
		color: $mainColor;
	}

	td { border-color: 1px solid transparent; }

	tr {
		&:nth-child(even) { background: lighten($mainColor, 52%) }

		&:hover {
			background: lighten($mainColor, 45%);
		}

		&.budget-summary {
			color: $mainColor;
			background: lighten($mainColor, 50%)
		}
	}

	.money {
		&:before {
			color: $mainColor;
		}
	}
}

.table-menu-btn {
	color: $mainColor;
}

footer {
	border-color: $mainColor;

	a {
		color: $mainColor;
	}
}
