$red: #E40101;
$ptSans: 'PT Sans Narrow', sans-serif;

.menu-toggle {
	color: $red;
}

#menu {
	a {
		color: $red;
	}
}

#project-title {
	font-family: $ptSans;
	color: $red;
}

#project-description {
	font-family: $ptSans;
}

section {
	h1,
	h2 {
		font-family: $ptSans;
		color: $red;
	}
}

em {
	color: $red;
	font-style: normal;
	font-weight: bold;
}

blockquote {
	font-family: $ptSans;

	&:before {
		color: $red;
	}
}

a:hover {
	color: darken($red, 20%);
}

li:before {
	color: $red;
}

.budget {
	border-color: $red;

	th {
		border-color: $red;
		color: $red;
	}

	td { border-color: 1px solid transparent; }

	tr {
		&:nth-child(even) { background: lighten($red, 52%) }

		&:hover {
			background: lighten($red, 45%);
		}

		&.budget-summary {
			color: $red;
			background: lighten($red, 50%)
		}
	}

	.money {
		&:before {
			color: $red;
		}
	}
}

.table-menu-btn {
	color: $red;
}

footer {
	border-color: $red;

	a {
		color: $red;
	}
}
