@import "bourbon";
@import "variables";
@import "mixins";

@import 'titles';

body {
	margin: 0;
}

a, p, label, li, figcaption, table {
	font-family: $main-font;
}

p, li {
    color: $brown;
    font-size: 1.5rem;
    font-weight: 400;

    @media screen and (max-width: $smartphone-width) {
        font-size: 1.25rem;
    }
}

p {
    margin: 0.5rem 0 3rem;
}

strong {
    font-style: italic;
}

figure {
    display: block;
    margin: 1rem 0 3rem;

    figcaption {
        color:  $grey-light;
        font-size: 1.3rem;

        @media screen and (max-width: $smartphone-width) {
            font-size: 1rem;
        }
    }

    img {
        width: 100%;
    }
}

.gallery {
    @include clearfix;
    margin: 1rem 0 4rem;

    @media screen and (max-width: $smartphone-width) {
        margin: 1rem 0 2rem;
    }

    figure {
        float: left;
        margin: 0 1%;
        width: 31.333%;

        @media screen and (max-width: $smartphone-width) {
            float: none;
            margin: 1rem auto;
            width: 90%;
        }

        img {
            width: 100%;
        }
    }
}

ul {
    list-style-image: url('../img/blue-bullet.png');
    margin: 1rem 0 2rem;
    padding: 0 6rem;

    @media screen and (max-width: $smartphone-width) {
        padding: 0;
        padding-left: 40px;
    }

    li {
        margin: 1rem 0;

        ul {
            list-style-image: url('../img/green-bullet.png');
            padding: 0 1rem;

            li {
                font-size: 1.3rem;
            }
        }
    }
}

.content {
    margin: 0 auto;
    overflow: hidden;
    max-width: 58rem;

    @media screen and (max-width: $smartphone-width) {
        margin: 0 2rem;
    }

    table, th, td {
        border-color: $blue;
        border-style: solid;
        border-width: 1px;
    }

    table {
        border-collapse: collapse;
        margin: 3rem auto;

        th, td {
            padding: 0.5rem;
        }

        thead, tfoot {
            color: $blue;

            tr {
                th, td {
                    font-weight: 600;
                    text-align: left;
                }
            }
        }

        tbody {
            color: $brown;

            td {
                font-size: 1.374rem;
            }
        }

        tfoot {
            background-color: white;
        }

        .money {
            font-style: italic;
            font-weight: 600;

            &:after {
                content: 'COP';
            }
        }
    }
}

.hidden {
    display: none;
}

@import 'header';
@import 'first';
@import 'we-are';
@import 'project';
@import 'budget';
@import 'contact';
@import 'footer';